<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363059414530-s7rr0cve0ihhmgqilsib26c1bmv4cv39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363059414530-s7rr0cve0ihhmgqilsib26c1bmv4cv39</string>
	<key>API_KEY</key>
	<string>AIzaSyDhk9EsgBn6Hung27iXYhTxBefag0NZH5A</string>
	<key>GCM_SENDER_ID</key>
	<string>363059414530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApplication</string>
	<key>PROJECT_ID</key>
	<string>todo-firebase-38ae9</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-firebase-38ae9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363059414530:ios:3dda37a78154977b04491b</string>
</dict>
</plist>